<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <add key="COM_PORT" value="COM1"/>
    <add key="COM_SPEED" value="38400"/>
    <add key="TCP_PORT" value="13000"/>
    <add key="CNC_ADDR" value="06"/>
</configuration>
