<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="COM_PORT" value="COM5"/>
    <add key="COM_SPEED" value="115200"/>
    <add key="TCP_PORT" value="13000"/>
    <add key="HTTP_PORT" value="6670"/>
    <add key="CNC_ADDR" value="06"/>
  </appSettings>
</configuration>